Repository HPInc/AI-Blueprints, pull requests merged in 2025-08, with the labels that each got.

#183 Test and upload data analysis with cudf BP
  ngc-integration/data-analysis-with-cudf/notebooks/stock-analysis-with-pandas-and-cudf/run-workflow.ipynb
  ngc-integration/data-analysis-with-cudf/notebooks/stock-analysis-with-pandas/run-workflow.ipynb
Labels: enhancement, python

#185 Test and upload spam detection with NLP BP
  .Trash-1000/files/swagger-ui-spam-detection-with-nlp.pdf
  .Trash-1000/info/swagger-ui-spam-detection-with-nlp.pdf.trashinfo
  deep-learning/spam-detection-with-nlp/docs/Swagger UI-spam-detection.pdf
  deep-learning/spam-detection-with-nlp/notebooks/register-model.ipynb
  deep-learning/spam-detection-with-nlp/notebooks/run-workflow.ipynb
Labels: documentation, enhancement, python

#179 GenAI Improvements - Code Generation Blueprint
  generative-ai/code-generation-with-langchain/README.md
  generative-ai/code-generation-with-langchain/docs/successful-swagger-ui-code-generation-result.pdf
  generative-ai/code-generation-with-langchain/docs/successful_swagger_result.pdf
  generative-ai/code-generation-with-langchain/notebooks/core/code_generation_service.py
  generative-ai/code-generation-with-langchain/notebooks/register-model.ipynb
  generative-ai/code-generation-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/code-generation-with-langchain/requirements.txt
  generative-ai/code-generation-with-langchain/src/service/base_service.py
  generative-ai/code-generation-with-langchain/src/utils.py
Labels: documentation, enhancement, dependencies, python

#186 Feat/classification with keras onnx
  deep-learning/classification-with-keras/README.md
  deep-learning/classification-with-keras/docs/streamlit-ui-handwritten-digit-classification.pdf
  deep-learning/classification-with-keras/docs/streamlit-ui-handwritten-digit-classification.png
  deep-learning/classification-with-keras/docs/swagger-ui-handwritten-digit-classification.pdf
  deep-learning/classification-with-keras/docs/swagger-ui-handwritten-digit-classification.png
  deep-learning/classification-with-keras/notebooks/register-model.ipynb
  deep-learning/classification-with-keras/requirements.txt
  deep-learning/classification-with-keras/src/onnx_export.py
  deep-learning/classification-with-keras/src/onnx_utils.py
Labels: documentation, enhancement, dependencies, python

#192 Feat/genai improvements english correction
  generative-ai/grammar-correction-with-langchain/README.md
  generative-ai/grammar-correction-with-langchain/demo/streamlit-webapp/README.md
  generative-ai/grammar-correction-with-langchain/demo/streamlit-webapp/main.py
  generative-ai/grammar-correction-with-langchain/notebooks/register-model.ipynb
  generative-ai/grammar-correction-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/grammar-correction-with-langchain/requirements.txt
Labels: documentation, enhancement, dependencies, python

#203 Feat/audio translation with nemo onnx
  ngc-integration/audio-translation-with-nemo/README.md
  ngc-integration/audio-translation-with-nemo/docs/streamlit_ui_for_audio_translation.png
  ngc-integration/audio-translation-with-nemo/docs/successful-streamlit-ui-audio-translation-result.pdf
  ngc-integration/audio-translation-with-nemo/docs/successful-swagger-ui-audio-translation-result.pdf
  ngc-integration/audio-translation-with-nemo/notebooks/register-model.ipynb
  ngc-integration/audio-translation-with-nemo/requirements.txt
  ngc-integration/audio-translation-with-nemo/src/onnx_export.py
  ngc-integration/audio-translation-with-nemo/src/onnx_utils.py
  ngc-integration/audio-translation-with-nemo/src/utils.py
Labels: documentation, enhancement, dependencies, python

#197 Streamlit UI for text generation with rnn
  deep-learning/text-generation-with-rnn/README.md
  deep-learning/text-generation-with-rnn/configs/config.yaml
  deep-learning/text-generation-with-rnn/demo/streamlit/README.md
  deep-learning/text-generation-with-rnn/demo/streamlit/assets/AI-Studio.png
  deep-learning/text-generation-with-rnn/demo/streamlit/assets/HP-Logo.png
  deep-learning/text-generation-with-rnn/demo/streamlit/assets/Z-HP-logo.png
  deep-learning/text-generation-with-rnn/demo/streamlit/main.py
  deep-learning/text-generation-with-rnn/demo/streamlit/poetry.lock
  deep-learning/text-generation-with-rnn/demo/streamlit/pyproject.toml
  deep-learning/text-generation-with-rnn/docs/streamlit-ui-text-generation-with-rnn.pdf
  deep-learning/text-generation-with-rnn/docs/streamlit-ui-text-generation-with-rnn.png
  deep-learning/text-generation-with-rnn/notebooks/register-model.ipynb
  deep-learning/text-generation-with-rnn/notebooks/run-workflow-TF.ipynb
  deep-learning/text-generation-with-rnn/notebooks/run-workflow-Torch.ipynb
Labels: documentation, enhancement, python

#206 Streamlit UI for question-answering-with-bert
  deep-learning/question-answering-with-bert/README.md
  deep-learning/question-answering-with-bert/configs/config.yaml
  deep-learning/question-answering-with-bert/demo/streamlit/assets/AI-Studio.png
  deep-learning/question-answering-with-bert/demo/streamlit/assets/HP-Logo.png
  deep-learning/question-answering-with-bert/demo/streamlit/assets/Z-HP-logo.png
  deep-learning/question-answering-with-bert/demo/streamlit/main.py
  deep-learning/question-answering-with-bert/demo/streamlit/poetry.lock
  deep-learning/question-answering-with-bert/demo/streamlit/pyproject.toml
  deep-learning/question-answering-with-bert/docs/streamlit-ui-question-answering-with-bert.pdf
  deep-learning/question-answering-with-bert/docs/streamlit-ui-question-answering-with-bert.png
  deep-learning/question-answering-with-bert/notebooks/register-model.ipynb
  deep-learning/question-answering-with-bert/notebooks/run-workflow.ipynb
Labels: documentation, enhancement, python

#181 Streamlit for spam-detection
  deep-learning/spam-detection-with-nlp/README.md
  deep-learning/spam-detection-with-nlp/demo/streamlit/README.md
  deep-learning/spam-detection-with-nlp/demo/streamlit/assets/AI-Studio.png
  deep-learning/spam-detection-with-nlp/demo/streamlit/assets/HP-Logo.png
  deep-learning/spam-detection-with-nlp/demo/streamlit/assets/Z-HP-logo.png
  deep-learning/spam-detection-with-nlp/demo/streamlit/main.py
  deep-learning/spam-detection-with-nlp/demo/streamlit/poetry.lock
  deep-learning/spam-detection-with-nlp/demo/streamlit/pyproject.toml
  deep-learning/spam-detection-with-nlp/docs/streamlit-ui-spam-detection-with-npl.pdf
  deep-learning/spam-detection-with-nlp/docs/streamlit-ui-spam-detection-with-npl.png
  deep-learning/spam-detection-with-nlp/notebooks/register-model.ipynb
  deep-learning/spam-detection-with-nlp/notebooks/run-workflow.ipynb
Labels: documentation, enhancement, python

#196 Streamlit UI for code-generation
  generative-ai/code-generation-with-langchain/README.md
  generative-ai/code-generation-with-langchain/configs/config.yaml
  generative-ai/code-generation-with-langchain/demo/streamlit/README.md
  generative-ai/code-generation-with-langchain/demo/streamlit/assets/AI-Studio.png
  generative-ai/code-generation-with-langchain/demo/streamlit/assets/HP-Logo.png
  generative-ai/code-generation-with-langchain/demo/streamlit/assets/Z-HP-logo.png
  generative-ai/code-generation-with-langchain/demo/streamlit/main.py
  generative-ai/code-generation-with-langchain/demo/streamlit/poetry.lock
  generative-ai/code-generation-with-langchain/demo/streamlit/pyproject.toml
  generative-ai/code-generation-with-langchain/docs/streamlit-ui-code-generation.pdf
  generative-ai/code-generation-with-langchain/docs/streamlit-ui-code-generation.png
  generative-ai/code-generation-with-langchain/notebooks/register-model.ipynb
  generative-ai/code-generation-with-langchain/notebooks/run-workflow.ipynb
Labels: documentation, enhancement, python

#213 Testing/mulit modal rag jimmy
  generative-ai/multi-modal-rag-with-langchain-vllm/README.md
  generative-ai/multi-modal-rag-with-langchain-vllm/demo/streamlit-webapp/README.md
  generative-ai/multi-modal-rag-with-langchain-vllm/docs/streamlit-ui.png
  generative-ai/multi-modal-rag-with-langchain-vllm/notebooks/run-workflow.ipynb
  generative-ai/multi-modal-rag-with-langchain-vllm/requirements.txt
Labels: documentation, enhancement, dependencies, python

#220 Test and Validate Classification with Keras on Ubuntu machine
  deep-learning/classification-with-keras/notebooks/register-model.ipynb
  deep-learning/classification-with-keras/notebooks/run-workflow.ipynb
Labels: enhancement, python

#228 Fix missing [ ] on the modelConfigExport
  ngc-integration/vacation-recommendation-with-bert/docs/SwaggerUI.pdf
  ngc-integration/vacation-recommendation-with-bert/docs/SwaggerUI.png
  ngc-integration/vacation-recommendation-with-bert/notebooks/register-model.ipynb
  ngc-integration/vacation-recommendation-with-bert/src/bert_recommendation_service.py
Labels: documentation, enhancement, python

#231 New Blueprint Project - Agentic GitHub Repo Analyzer with LangGraph
  generative-ai/agentic-github-repo-analyzer-with-langgraph/README.md
  generative-ai/agentic-github-repo-analyzer-with-langgraph/demo/streamlit/README.md
  generative-ai/agentic-github-repo-analyzer-with-langgraph/demo/streamlit/assets/styles.css
  generative-ai/agentic-github-repo-analyzer-with-langgraph/demo/streamlit/main.py
  generative-ai/agentic-github-repo-analyzer-with-langgraph/demo/streamlit/poetry.lock
  generative-ai/agentic-github-repo-analyzer-with-langgraph/demo/streamlit/pyproject.toml
  generative-ai/agentic-github-repo-analyzer-with-langgraph/demo/streamlit/static/AIS-logo.png
  generative-ai/agentic-github-repo-analyzer-with-langgraph/demo/streamlit/static/HP-Logo.png
  generative-ai/agentic-github-repo-analyzer-with-langgraph/demo/streamlit/static/Z-logo.png
  generative-ai/agentic-github-repo-analyzer-with-langgraph/docs/Streamlit UI Page - Agentic GitHub Repo Analyzer.pdf
  generative-ai/agentic-github-repo-analyzer-with-langgraph/docs/diagram-for-agentic-github-repo-analyzer-with-langgraph.png
  generative-ai/agentic-github-repo-analyzer-with-langgraph/docs/streamlit-ui-ss-agentic-github-repo-analyzer.png
  generative-ai/agentic-github-repo-analyzer-with-langgraph/notebooks/register-model.ipynb
  generative-ai/agentic-github-repo-analyzer-with-langgraph/notebooks/run-workflow.ipynb
  generative-ai/agentic-github-repo-analyzer-with-langgraph/requirements.txt
  generative-ai/agentic-github-repo-analyzer-with-langgraph/src/__init__.py
  generative-ai/agentic-github-repo-analyzer-with-langgraph/src/agentic_feedback_model.py
  generative-ai/agentic-github-repo-analyzer-with-langgraph/src/agentic_nodes.py
  generative-ai/agentic-github-repo-analyzer-with-langgraph/src/agentic_state.py
  generative-ai/agentic-github-repo-analyzer-with-langgraph/src/agentic_workflow.py
  generative-ai/agentic-github-repo-analyzer-with-langgraph/src/simple_kv_memory.py
  generative-ai/agentic-github-repo-analyzer-with-langgraph/src/utils.py
Labels: documentation, enhancement, dependencies, python, design

#250 Remove all poetry.lock files to prevent dependency conflicts
  data-science/classification-with-svm/demo/streamlit/poetry.lock
  data-science/data-analysis-with-var/demo/streamlit/poetry.lock
  deep-learning/classification-with-keras/demo/streamlit/poetry.lock
  deep-learning/question-answering-with-bert/demo/streamlit/poetry.lock
  deep-learning/recommendation-system-with-tensorflow/demo/streamlit/poetry.lock
  deep-learning/spam-detection-with-nlp/demo/streamlit/poetry.lock
  deep-learning/super-resolution-with-fsrcnn/demo/streamlit/poetry.lock
  deep-learning/text-generation-with-rnn/demo/streamlit/poetry.lock
  generative-ai/agentic-feedback-analyzer-with-langgraph/demo/streamlit/poetry.lock
  generative-ai/agentic-github-repo-analyzer-with-langgraph/demo/streamlit/poetry.lock
  generative-ai/automated-evaluation-with-structured-outputs/demo/streamlit/poetry.lock
  generative-ai/code-generation-with-langchain/demo/streamlit/poetry.lock
  generative-ai/fine-tuning-with-orpo/demo/streamlit/poetry.lock
  generative-ai/text-generation-with-langchain/demo/streamlit/poetry.lock
  generative-ai/text-summarization-with-langchain/demo/streamlit/poetry.lock
  generative-ai/vanilla-rag-with-langchain/demo/streamlit/poetry.lock
  ngc-integration/audio-translation-with-nemo/demo/streamlit/poetry.lock
  ngc-integration/vacation-recommendation-with-bert/demo/streamlit/poetry.lock
Labels: enhancement

#249 Fix Deployment Issues for Spam Detection with NLP Blueprint
  deep-learning/spam-detection-with-nlp/configs/config.yaml
  deep-learning/spam-detection-with-nlp/docs/streamlit-ui-spam-detection-with-npl.pdf
  deep-learning/spam-detection-with-nlp/docs/streamlit-ui-spam-detection-with-npl.png
  deep-learning/spam-detection-with-nlp/docs/swagger-ui-spam-detection-with-nlp.png
  deep-learning/spam-detection-with-nlp/notebooks/register-model.ipynb
  deep-learning/spam-detection-with-nlp/notebooks/run-workflow.ipynb
Labels: documentation, enhancement, python

#252 Test and Validate 'Recommendation System with tensorflow' in ubuntu machine
  deep-learning/recommendation-system-with-tensorflow/demo/streamlit/main.py
  deep-learning/recommendation-system-with-tensorflow/docs/Streamlit-UI.pdf
  deep-learning/recommendation-system-with-tensorflow/docs/StreamlitUI.pdf
  deep-learning/recommendation-system-with-tensorflow/docs/Swagger-UI.pdf
  deep-learning/recommendation-system-with-tensorflow/docs/SwaggerUI.pdf
  deep-learning/recommendation-system-with-tensorflow/notebooks/register-model.ipynb
  deep-learning/recommendation-system-with-tensorflow/notebooks/run-workflow.ipynb
Labels: documentation, enhancement, python

#242 Reduce training size and epochs and update README for faster runs for Fine-Tuning BP
  generative-ai/fine-tuning-with-orpo/docs/streamlit-fine-tuning-with-orpo.pdf
  generative-ai/fine-tuning-with-orpo/docs/streamlit-fine-tuning-with-orpo.png
  generative-ai/fine-tuning-with-orpo/notebooks/register-model.ipynb
  generative-ai/fine-tuning-with-orpo/notebooks/run-workflow.ipynb
Labels: documentation, enhancement, python

#239 Test and Validate Code Generation with Langchain in ubuntu machine
  generative-ai/code-generation-with-langchain/notebooks/register-model.ipynb
  generative-ai/code-generation-with-langchain/notebooks/run-workflow.ipynb
  ngc-integration/data-analysis-with-cudf/notebooks/stock-analysis-with-pandas-and-cudf/run-workflow.ipynb
  ngc-integration/data-analysis-with-cudf/notebooks/stock-analysis-with-pandas/run-workflow.ipynb
Labels: enhancement, python

#260 [Test] on streamlit integration on vacation-recommendation NGC BP
  ngc-integration/vacation-recommendation-with-bert/docs/StreamlitUI.pdf
  ngc-integration/vacation-recommendation-with-bert/docs/SwaggerUI.pdf
  ngc-integration/vacation-recommendation-with-bert/notebooks/register-model.ipynb
  ngc-integration/vacation-recommendation-with-bert/notebooks/run-workflow.ipynb
Labels: documentation, enhancement, python

#255 Fix readme from text generation with rnm
  deep-learning/text-generation-with-rnn/README.md
Labels: documentation, enhancement

#235 Test and Validate 'Classification with Keras' in Ubuntu machine
  deep-learning/classification-with-keras/notebooks/register-model.ipynb
  deep-learning/classification-with-keras/notebooks/run-workflow.ipynb
Labels: enhancement, python

#258 Test and Validate Fine Tunning with Orpo
  generative-ai/fine-tuning-with-orpo/docs/Streamlit.pdf
  generative-ai/fine-tuning-with-orpo/docs/SwaggerUI.pdf
  generative-ai/fine-tuning-with-orpo/docs/streamlit-fine-tuning-with-orpo.pdf
  generative-ai/fine-tuning-with-orpo/docs/successful-swagger-ui-fine-tuning-result.pdf
  generative-ai/fine-tuning-with-orpo/notebooks/register-model.ipynb
  generative-ai/fine-tuning-with-orpo/notebooks/run-workflow.ipynb
Labels: documentation, enhancement, python

#261 Test and Validate Text Generatiom with Langchain
  generative-ai/text-generation-with-langchain/notebooks/register-model.ipynb
  generative-ai/text-generation-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

#268 Tested 'Classification with Keras' Blueprint
  deep-learning/classification-with-keras/README.md
  deep-learning/classification-with-keras/demo/README.md
  deep-learning/classification-with-keras/docs/streamlit-ui-handwritten-digit-classification.pdf
  deep-learning/classification-with-keras/docs/streamlit-ui-handwritten-digit-classification.png
  deep-learning/classification-with-keras/docs/swagger-ui-handwritten-digit-classification.pdf
  deep-learning/classification-with-keras/docs/swagger-ui-handwritten-digit-classification.png
  deep-learning/classification-with-keras/notebooks/register-model.ipynb
  deep-learning/classification-with-keras/notebooks/run-workflow.ipynb
Labels: documentation, enhancement, python

#269 Tested 'Spam Detection with NLP' Blueprint
  deep-learning/spam-detection-with-nlp/README.md
  deep-learning/spam-detection-with-nlp/docs/Swagger UI-spam-detection.pdf
  deep-learning/spam-detection-with-nlp/docs/streamlit-ui-spam-detection-with-npl.pdf
  deep-learning/spam-detection-with-nlp/docs/streamlit-ui-spam-detection-with-npl.png
  deep-learning/spam-detection-with-nlp/notebooks/register-model.ipynb
  deep-learning/spam-detection-with-nlp/notebooks/run-workflow.ipynb
  deep-learning/spam-detection-with-nlp/requirements.txt
Labels: documentation, enhancement, dependencies, python

#270 Tested 'Recommendation System with Tensorflow' Blueprint
  deep-learning/recommendation-system-with-tensorflow/README.md
  deep-learning/recommendation-system-with-tensorflow/docs/StreamlitUI.pdf
  deep-learning/recommendation-system-with-tensorflow/docs/SwaggerUI.pdf
  deep-learning/recommendation-system-with-tensorflow/docs/streamlit-ui-recommender-system.png
  deep-learning/recommendation-system-with-tensorflow/docs/swagger-ui-recommendation-system-with-tensorflow.png
  deep-learning/recommendation-system-with-tensorflow/notebooks/register-model.ipynb
  deep-learning/recommendation-system-with-tensorflow/notebooks/run-workflow.ipynb
Labels: documentation, enhancement, python
