Repository HPInc/AI-Blueprints, pull requests merged in 2025-09, with the labels that each got.

#292 Fix/text generation with langchain streamlit inference issues (error 400)
  generative-ai/text-generation-with-langchain/core/deploy/text_generation_service.py
  generative-ai/text-generation-with-langchain/core/generator/script_generator.py
  generative-ai/text-generation-with-langchain/demo/streamlit/main.py
  generative-ai/text-generation-with-langchain/docs/streamlit_ui.pdf
  generative-ai/text-generation-with-langchain/notebooks/register-model.ipynb
  generative-ai/text-generation-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/text-generation-with-langchain/requirements.txt
  generative-ai/text-generation-with-langchain/src/utils.py
Labels: documentation, enhancement, dependencies, python

#293 Fix Deployment Configurations for Vanilla RAG, Code Generation, and Text Summarization Blueprints
  generative-ai/code-generation-with-langchain/notebooks/core/code_generation_service.py
  generative-ai/code-generation-with-langchain/notebooks/register-model.ipynb
  generative-ai/code-generation-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/code-generation-with-langchain/src/utils.py
  generative-ai/text-summarization-with-langchain/core/service/text_summarization_service.py
  generative-ai/text-summarization-with-langchain/notebooks/register-model.ipynb
  generative-ai/text-summarization-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/text-summarization-with-langchain/src/utils.py
  generative-ai/vanilla-rag-with-langchain/core/chatbot_service/chatbot_service.py
  generative-ai/vanilla-rag-with-langchain/notebooks/register-model.ipynb
  generative-ai/vanilla-rag-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/vanilla-rag-with-langchain/src/utils.py
Labels: enhancement, python

#296 Old galileo BP test on Ubuntu
  generative-ai/code-generation-with-langchain/docs/Code Generation with Langchain streamlit.pdf
  generative-ai/code-generation-with-langchain/notebooks/register-model.ipynb
  generative-ai/code-generation-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/text-generation-with-langchain/docs/Text Generation streamlit.pdf
  generative-ai/text-generation-with-langchain/notebooks/register-model.ipynb
  generative-ai/text-generation-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/text-summarization-with-langchain/docs/Text Summarization with AI Studio streamlit.pdf
  generative-ai/text-summarization-with-langchain/notebooks/register-model.ipynb
  generative-ai/text-summarization-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/vanilla-rag-with-langchain/docs/Vanilla RAG Chatbot Interface streamlit.pdf
  generative-ai/vanilla-rag-with-langchain/notebooks/register-model.ipynb
  generative-ai/vanilla-rag-with-langchain/notebooks/run-workflow.ipynb
Labels: documentation, enhancement, python

#300 added langchain-community==0.3.27 to requirements and pyproject.toml and tested bps
  generative-ai/agentic-feedback-analyzer-with-langgraph/demo/streamlit/main.py
  generative-ai/agentic-feedback-analyzer-with-langgraph/demo/streamlit/pyproject.toml
  generative-ai/agentic-feedback-analyzer-with-langgraph/notebooks/register-model.ipynb
  generative-ai/agentic-feedback-analyzer-with-langgraph/notebooks/run-workflow.ipynb
  generative-ai/agentic-feedback-analyzer-with-langgraph/requirements.txt
  generative-ai/agentic-github-repo-analyzer-with-langgraph/demo/streamlit/main.py
  generative-ai/agentic-github-repo-analyzer-with-langgraph/demo/streamlit/pyproject.toml
  generative-ai/agentic-github-repo-analyzer-with-langgraph/notebooks/register-model.ipynb
  generative-ai/agentic-github-repo-analyzer-with-langgraph/notebooks/run-workflow.ipynb
  generative-ai/agentic-github-repo-analyzer-with-langgraph/requirements.txt
Labels: enhancement, dependencies, python

#303 Comment Out Proxy Fields in Config.yaml to Prevent External Issues
  deep-learning/question-answering-with-bert/configs/config.yaml
  deep-learning/text-generation-with-rnn/configs/config.yaml
  generative-ai/code-generation-with-langchain/configs/config.yaml
  generative-ai/fine-tuning-with-orpo/configs/config.yaml
Labels: enhancement

#306 Secure Dependency Updates for AI Blueprints Repo
  generative-ai/agentic-feedback-analyzer-with-langgraph/demo/streamlit/pyproject.toml
  generative-ai/agentic-feedback-analyzer-with-langgraph/notebooks/register-model.ipynb
  generative-ai/agentic-feedback-analyzer-with-langgraph/notebooks/run-workflow.ipynb
  generative-ai/agentic-feedback-analyzer-with-langgraph/requirements.txt
  generative-ai/agentic-github-repo-analyzer-with-langgraph/demo/streamlit/pyproject.toml
  generative-ai/agentic-github-repo-analyzer-with-langgraph/notebooks/register-model.ipynb
  generative-ai/agentic-github-repo-analyzer-with-langgraph/notebooks/run-workflow.ipynb
  generative-ai/agentic-github-repo-analyzer-with-langgraph/requirements.txt
  generative-ai/fine-tuning-with-orpo/notebooks/register-model.ipynb
  generative-ai/fine-tuning-with-orpo/notebooks/run-workflow.ipynb
  generative-ai/fine-tuning-with-orpo/requirements.txt
Labels: enhancement, dependencies, python
