Repository HPInc/AI-Blueprints, pull requests merged in 2025-06, with the labels that each got.

#38 Refactor/improvements data science
  data-science-and-machine-learning/covid_movement_patterns_with_var/README.md
  data-science-and-machine-learning/handwritten_digit_classification_with_keras/README.md
  data-science-and-machine-learning/iris_flowers_classification_with_svm/README.md
  data-science-and-machine-learning/recommender_systems_with_tensorflow/README.md
  data-science-and-machine-learning/recommender_systems_with_tensorflow/notebooks/recommender_systems_with_tensorflow.ipynb
  data-science-and-machine-learning/spam_detection_with_NLP/README.md
  data-science-and-machine-learning/spam_detection_with_NLP/notebooks/spam_detection_with_NLP.ipynb
  data-science-and-machine-learning/spam_detection_with_NLP/requirements.txt
Labels: documentation

#49 Fix: prevent inference timeout on legacy GPUs using CUDA_LAUNCH_BLOCKING
  generative-ai/galileo/04-image-generation/README.md
  generative-ai/galileo/04-image-generation/notebooks/inference.ipynb
Labels: bug

#52 bug fix with swapping x and y
  deep-learning/super_resolution/notebooks/FSRCNN_DIV2K_AISTUDIO.ipynb
Labels: bug

#61 [security] vulnerability fixes for python packages are added
  deep-learning/bert_qa/requirements.txt
  generative-ai/automated_evaluation_with_structured_outputs/demo/streamlit-webapp/poetry.lock
  generative-ai/image-generation_with_StableDiffusion/requirements.txt
  generative-ai/vanilla-rag-with-langchain/README.md
  generative-ai/vanilla-rag-with-langchain/demo/streamlit-webapp/README.md
  generative-ai/vanilla-rag-with-langchain/demo/streamlit-webapp/main.py
  generative-ai/vanilla-rag-with-langchain/demo/streamlit-webapp/poetry.lock
  generative-ai/vanilla-rag-with-langchain/demo/streamlit-webapp/pyproject.toml
  ngc-integration/audio_translation_with_nemo_models/demo/streamlit-webapp/poetry.lock
  ngc-integration/vacation_recommendation_agent_with_bert/demo/streamlit-webapp/poetry.lock
Labels: dependencies

#85 Mlflow Registration for Agentic RAG BP
  generative-ai/agentic_rag_with_trt-llm_and_langgraph/README.md
  generative-ai/agentic_rag_with_trt-llm_and_langgraph/data/chroma_store/0a51c3c1-5b96-4753-9f01-2ba20598fe8b/data_level0.bin
  generative-ai/agentic_rag_with_trt-llm_and_langgraph/data/chroma_store/0a51c3c1-5b96-4753-9f01-2ba20598fe8b/header.bin
  generative-ai/agentic_rag_with_trt-llm_and_langgraph/data/chroma_store/0a51c3c1-5b96-4753-9f01-2ba20598fe8b/length.bin
  generative-ai/agentic_rag_with_trt-llm_and_langgraph/data/chroma_store/0a51c3c1-5b96-4753-9f01-2ba20598fe8b/link_lists.bin
  generative-ai/agentic_rag_with_trt-llm_and_langgraph/data/chroma_store/chroma.sqlite3
  generative-ai/agentic_rag_with_trt-llm_and_langgraph/data/chroma_store/manifest.json
  generative-ai/agentic_rag_with_trt-llm_and_langgraph/docs/workspace.sh
  generative-ai/agentic_rag_with_trt-llm_and_langgraph/notebooks/register-model.ipynb
  generative-ai/agentic_rag_with_trt-llm_and_langgraph/notebooks/run-workflow.ipynb
  generative-ai/agentic_rag_with_trt-llm_and_langgraph/requirements.txt
Labels: enhancement
