Repository HPInc/AI-Blueprints, pull requests merged in 2025-07, with the labels that each got.

#115 Fix Image Generation
  generative-ai/image-generation-with-stablediffusion/core/deploy/deploy_image_generation.py
  generative-ai/image-generation-with-stablediffusion/core/dreambooth_inference/inference_dreambooth.py
  generative-ai/image-generation-with-stablediffusion/core/local_inference/inference.py
  generative-ai/image-generation-with-stablediffusion/notebooks/image-generation_with_StableDiffusion.ipynb
  generative-ai/image-generation-with-stablediffusion/src/utils.py
Labels: enhancement, python

#142 [AI] [Feat] #1489555 – Remove Galileo calls and cells from fine-tuning-with-orpo blueprint
  generative-ai/fine-tuning-with-orpo/README.md
  generative-ai/fine-tuning-with-orpo/configs/config.yaml
  generative-ai/fine-tuning-with-orpo/core/comparer/galileo_hf_model_comparer.py
  generative-ai/fine-tuning-with-orpo/core/comparer/model_comparer.py
  generative-ai/fine-tuning-with-orpo/notebooks/fine_tuning_orpo.ipynb
  generative-ai/fine-tuning-with-orpo/requirements.txt
  generative-ai/fine-tuning-with-orpo/src/service/base_service.py
  generative-ai/fine-tuning-with-orpo/src/utils.py
Labels: documentation, enhancement, dependencies, python

#143 [AI] [Feat] 1488287 – Remove Galileo calls and cells from vanilla-rag-with-langchain blueprint
  .gitignore
  generative-ai/vanilla-rag-with-langchain/README.md
  generative-ai/vanilla-rag-with-langchain/configs/config.yaml
  generative-ai/vanilla-rag-with-langchain/core/chatbot_service/chatbot_service.py
  generative-ai/vanilla-rag-with-langchain/demo/assets/index-JB8oVtUU.js
  generative-ai/vanilla-rag-with-langchain/demo/index.html
  generative-ai/vanilla-rag-with-langchain/docs/successful_html_ui_result.pdf
  generative-ai/vanilla-rag-with-langchain/notebooks/register-model.ipynb
  generative-ai/vanilla-rag-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/vanilla-rag-with-langchain/src/service/base_service.py
  generative-ai/vanilla-rag-with-langchain/src/utils.py
Labels: documentation, enhancement, python, javascript, design

#150 Split text-generation notebook and update requirements
  generative-ai/text-generation-with-langchain/core/deploy/text_generation_service.py
  generative-ai/text-generation-with-langchain/docs/successful_streamlit_sucess._ui_result.png
  generative-ai/text-generation-with-langchain/docs/successful_streamlit_ui_result.pdf
  generative-ai/text-generation-with-langchain/docs/successful_streamlit_ui_text_generation_result.pdf
  generative-ai/text-generation-with-langchain/docs/successful_swagger_ui_text_generation_result.pdf
  generative-ai/text-generation-with-langchain/notebooks/register-model.ipynb
  generative-ai/text-generation-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/text-generation-with-langchain/requirements.txt
Labels: documentation, enhancement, dependencies, python

#148 improvements on deep-learning/super-resolution-with-fsrcnn
  deep-learning/super-resolution-with-fsrcnn/README.md
  deep-learning/super-resolution-with-fsrcnn/demo/streamlit-webapp/assets/AI-Studio.png
  deep-learning/super-resolution-with-fsrcnn/demo/streamlit-webapp/assets/HP-Logo.png
  deep-learning/super-resolution-with-fsrcnn/demo/streamlit-webapp/assets/Z-HP-logo.png
  deep-learning/super-resolution-with-fsrcnn/demo/streamlit-webapp/main.py
  deep-learning/super-resolution-with-fsrcnn/docs/streamlit-ui-image-super-resolution-with-fsrcnn.pdf
  deep-learning/super-resolution-with-fsrcnn/docs/streamlit-ui-image-super-resolution-with-fsrcnn.png
  deep-learning/super-resolution-with-fsrcnn/docs/streamlit_ui_image_super_resolution_with_fsrcnn.pdf
  deep-learning/super-resolution-with-fsrcnn/docs/streamlit_ui_image_super_resolution_with_fsrcnn.png
  deep-learning/super-resolution-with-fsrcnn/docs/swagger-ui-super-resolution-with-fsrcnn.pdf
  deep-learning/super-resolution-with-fsrcnn/docs/swagger-ui-super-resolution-with-fsrcnn.png
  deep-learning/super-resolution-with-fsrcnn/docs/swagger_UI_super-resolution-with-fsrcnn.pdf
  deep-learning/super-resolution-with-fsrcnn/docs/swagger_UI_super-resolution-with-fsrcnn.png
  deep-learning/super-resolution-with-fsrcnn/notebooks/image_super_resolution_with_FSRCNN.ipynb
  deep-learning/super-resolution-with-fsrcnn/notebooks/register-model.ipynb
  deep-learning/super-resolution-with-fsrcnn/notebooks/run-workflow.ipynb
Labels: documentation, enhancement, python

#161 Updated and fixed typos in readmes
  data-science/README.md
  data-science/classification-with-svm/README.md
  data-science/classification-with-svm/docs/successful-streamlit-ui-for-classification-with-svm.pdf
  data-science/classification-with-svm/docs/successful-streamlit-ui-for-classification-with-svm.png
  data-science/classification-with-svm/docs/swagger-UI-classification-with-svm.pdf
  data-science/classification-with-svm/docs/swagger-UI-classification-with-svm.png
  data-science/data-analysis-with-var/README.md
  data-science/data-analysis-with-var/docs/successful-streamlit-ui-for-data-analysis-with-var.pdf
  data-science/data-analysis-with-var/docs/successful-streamlit-ui-for-data-analysis-with-var.png
  data-science/data-analysis-with-var/docs/swagger-UI-data-analysis-with-var.pdf
  data-science/data-analysis-with-var/docs/swagger-UI-data-analysis-with-var.png
Labels: documentation, enhancement

#149 Add register-model notebook for vacation recommendation with BERT
  ngc-integration/README.md
  ngc-integration/agentic-rag-with-tensorrtllm/README.md
  ngc-integration/data-visualization-with-cudf/README.md
  ngc-integration/vacation-recommendation-with-bert/README.md
  ngc-integration/vacation-recommendation-with-bert/artifacts/tokenizer/special_tokens_map.json
  ngc-integration/vacation-recommendation-with-bert/artifacts/tokenizer/tokenizer.json
  ngc-integration/vacation-recommendation-with-bert/artifacts/tokenizer/tokenizer_config.json
  ngc-integration/vacation-recommendation-with-bert/artifacts/tokenizer/vocab.txt
  ngc-integration/vacation-recommendation-with-bert/demo/streamlit-webapp/poetry.lock
  ngc-integration/vacation-recommendation-with-bert/demo/streamlit-webapp/pyproject.toml
  ngc-integration/vacation-recommendation-with-bert/demo/streamlit-webapp/src/tourism_demo/main.py
  ngc-integration/vacation-recommendation-with-bert/docs/HTML_vacation-recommendation-agent.pdf
  ngc-integration/vacation-recommendation-with-bert/docs/Swagger_UI_vacation-recommendation-with-bert.pdf
  ngc-integration/vacation-recommendation-with-bert/docs/Vacation_Recommendation_Agent.pdf
  ngc-integration/vacation-recommendation-with-bert/docs/html-ui-vacation-recommendation.png
  ngc-integration/vacation-recommendation-with-bert/docs/successful-HTML-bert-vacation-recommendation-result.pdf
  ngc-integration/vacation-recommendation-with-bert/docs/successful-streamlit-ui-bert-vacation-recommendation-result.pdf
  ngc-integration/vacation-recommendation-with-bert/docs/successful-swagger-ui-bert-vacation-recommendation-result.pdf
  ngc-integration/vacation-recommendation-with-bert/docs/ui_vacation.png
  ngc-integration/vacation-recommendation-with-bert/notebooks/00_Word_Embeddings_Generation.ipynb
  ngc-integration/vacation-recommendation-with-bert/notebooks/register-model.ipynb
  ngc-integration/vacation-recommendation-with-bert/notebooks/run-workflow.ipynb
  ngc-integration/vacation-recommendation-with-bert/requirements.txt
  ngc-integration/vacation-recommendation-with-bert/src/__init__.py
  ngc-integration/vacation-recommendation-with-bert/src/bert_recommendation_service.py
Labels: documentation, enhancement, dependencies, python

#166 New Blueprint Project - Agentic Feedback Analyzer with LangGraph
  generative-ai/agentic-feedback-analyzer-with-langgraph/README.md
  generative-ai/agentic-feedback-analyzer-with-langgraph/data/input/csv.csv
  generative-ai/agentic-feedback-analyzer-with-langgraph/data/input/docx.docx
  generative-ai/agentic-feedback-analyzer-with-langgraph/data/input/md.md
  generative-ai/agentic-feedback-analyzer-with-langgraph/data/input/pdf.pdf
  generative-ai/agentic-feedback-analyzer-with-langgraph/data/input/sample-product-feedback-doc.md
  generative-ai/agentic-feedback-analyzer-with-langgraph/data/input/txt.txt
  generative-ai/agentic-feedback-analyzer-with-langgraph/data/input/xlsx.xlsx
  generative-ai/agentic-feedback-analyzer-with-langgraph/demo/streamlit/README.md
  generative-ai/agentic-feedback-analyzer-with-langgraph/demo/streamlit/assets/styles.css
  generative-ai/agentic-feedback-analyzer-with-langgraph/demo/streamlit/main.py
  generative-ai/agentic-feedback-analyzer-with-langgraph/demo/streamlit/poetry.lock
  generative-ai/agentic-feedback-analyzer-with-langgraph/demo/streamlit/pyproject.toml
  generative-ai/agentic-feedback-analyzer-with-langgraph/demo/streamlit/static/AIS-logo.png
  generative-ai/agentic-feedback-analyzer-with-langgraph/demo/streamlit/static/HP-Logo.png
  generative-ai/agentic-feedback-analyzer-with-langgraph/demo/streamlit/static/Z-logo.png
  generative-ai/agentic-feedback-analyzer-with-langgraph/docs/Streamlit UI Page - Agentic Feedback Analyzer.pdf
  generative-ai/agentic-feedback-analyzer-with-langgraph/docs/streamlit-ui-ss-agentic-feedback-analyzer.png
  generative-ai/agentic-feedback-analyzer-with-langgraph/notebooks/register-model.ipynb
  generative-ai/agentic-feedback-analyzer-with-langgraph/notebooks/run-workflow.ipynb
  generative-ai/agentic-feedback-analyzer-with-langgraph/requirements.txt
  generative-ai/agentic-feedback-analyzer-with-langgraph/src/__init__.py
  generative-ai/agentic-feedback-analyzer-with-langgraph/src/agentic_feedback_model.py
  generative-ai/agentic-feedback-analyzer-with-langgraph/src/agentic_nodes.py
  generative-ai/agentic-feedback-analyzer-with-langgraph/src/agentic_state.py
  generative-ai/agentic-feedback-analyzer-with-langgraph/src/agentic_workflow.py
  generative-ai/agentic-feedback-analyzer-with-langgraph/src/simple_kv_memory.py
  generative-ai/agentic-feedback-analyzer-with-langgraph/src/utils.py
Labels: documentation, enhancement, dependencies, python, design

#36 feat/english-correction-bp
  generative-ai/english-correction-with-langchain/README.md
  generative-ai/english-correction-with-langchain/configs/configs.yaml
  generative-ai/english-correction-with-langchain/demo/assets/background.png
  generative-ai/english-correction-with-langchain/demo/streamlit-webapp/README.md
  generative-ai/english-correction-with-langchain/demo/streamlit-webapp/main.py
  generative-ai/english-correction-with-langchain/docs/eval_metrics.pdf
  generative-ai/english-correction-with-langchain/notebooks/register-model.ipynb
  generative-ai/english-correction-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/english-correction-with-langchain/requirements.txt
  generative-ai/english-correction-with-langchain/src/__init__.py
  generative-ai/english-correction-with-langchain/src/chunker.py
  generative-ai/english-correction-with-langchain/src/github_extractor.py
  generative-ai/english-correction-with-langchain/src/llm_metrics.py
  generative-ai/english-correction-with-langchain/src/markdown_correction_service.py
  generative-ai/english-correction-with-langchain/src/parser.py
  generative-ai/english-correction-with-langchain/src/prompt_templates.py
  generative-ai/english-correction-with-langchain/src/utils.py
Labels: documentation, enhancement, dependencies, python

#35 feat/multi-modal-rag-bp
  generative-ai/multi-modal-rag-with-langchain/.gitignore
  generative-ai/multi-modal-rag-with-langchain/README.md
  generative-ai/multi-modal-rag-with-langchain/configs/config.yaml
  generative-ai/multi-modal-rag-with-langchain/data/context/AIStudioDoc.pdf
  generative-ai/multi-modal-rag-with-langchain/data/context/wiki_flat_structure_mini.json
  generative-ai/multi-modal-rag-with-langchain/demo/streamlit-webapp/README.md
  generative-ai/multi-modal-rag-with-langchain/demo/streamlit-webapp/assets/ai_studio_helix.png
  generative-ai/multi-modal-rag-with-langchain/demo/streamlit-webapp/assets/hp_logo.png
  generative-ai/multi-modal-rag-with-langchain/demo/streamlit-webapp/main.py
  generative-ai/multi-modal-rag-with-langchain/notebooks/register-model.ipynb
  generative-ai/multi-modal-rag-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/multi-modal-rag-with-langchain/requirements.txt
  generative-ai/multi-modal-rag-with-langchain/src/__init__.py
  generative-ai/multi-modal-rag-with-langchain/src/components.py
  generative-ai/multi-modal-rag-with-langchain/src/local_genai_judge.py
  generative-ai/multi-modal-rag-with-langchain/src/trt_llm_langchain.py
  generative-ai/multi-modal-rag-with-langchain/src/utils.py
  generative-ai/multi-modal-rag-with-langchain/src/wiki_pages_clone.py
Labels: documentation, enhancement, dependencies, python

#173 Improve automated evaluation: PDF export, best practices, and dependency updates
  .Trash-1000/files/Evaluated - 2025 ISEF Project Abstracts.csv - 2025-07-29 18-55-57
  .Trash-1000/files/Evaluated - 2025 ISEF Project Abstracts.csv - 2025-07-29 19-20-27
  .Trash-1000/files/Evaluated - 2025 ISEF Project Abstracts.csv - 2025-07-29 19-46-58
  .Trash-1000/info/Evaluated - 2025 ISEF Project Abstracts.csv - 2025-07-29 18-55-57.trashinfo
  .Trash-1000/info/Evaluated - 2025 ISEF Project Abstracts.csv - 2025-07-29 19-20-27.trashinfo
  .Trash-1000/info/Evaluated - 2025 ISEF Project Abstracts.csv - 2025-07-29 19-46-58.trashinfo
  generative-ai/automated-evaluation-with-structured-outputs/data/outputs/Evaluated - 2025 ISEF Project Abstracts.csv - 2025-07-29 19-50-29
  generative-ai/automated-evaluation-with-structured-outputs/demo/streamlit/poetry.lock
  generative-ai/automated-evaluation-with-structured-outputs/demo/streamlit/pyproject.toml
  generative-ai/automated-evaluation-with-structured-outputs/docs/sample-streamlit.pdf
  generative-ai/automated-evaluation-with-structured-outputs/notebooks/register-model.ipynb
  generative-ai/automated-evaluation-with-structured-outputs/notebooks/run-workflow.ipynb
Labels: documentation, enhancement, python

#171 GenAI Improvements - Text Generation Blueprint
  generative-ai/text-generation-with-langchain/README.md
  generative-ai/text-generation-with-langchain/core/deploy/text_generation_service.py
  generative-ai/text-generation-with-langchain/demo/streamlit/poetry.lock
  generative-ai/text-generation-with-langchain/demo/streamlit/pyproject.toml
  generative-ai/text-generation-with-langchain/notebooks/register-model.ipynb
  generative-ai/text-generation-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/text-generation-with-langchain/src/service/base_service.py
  generative-ai/text-generation-with-langchain/src/utils.py
Labels: documentation, enhancement, python

#172 GenAI Improvements - Image Generation Blueprint
  generative-ai/image-generation-with-stablediffusion/README.md
  generative-ai/image-generation-with-stablediffusion/configs/default_config-cpu.yaml
  generative-ai/image-generation-with-stablediffusion/configs/default_config_multi-gpu.yaml
  generative-ai/image-generation-with-stablediffusion/configs/default_config_one-gpu.yaml
  generative-ai/image-generation-with-stablediffusion/core/deploy/deploy_image_generation.py
  generative-ai/image-generation-with-stablediffusion/core/dreambooth_inference/inference_dreambooth.py
  generative-ai/image-generation-with-stablediffusion/core/local_inference/inference.py
  generative-ai/image-generation-with-stablediffusion/docs/successful-swagger-ui-image-generation-result.pdf
  generative-ai/image-generation-with-stablediffusion/docs/swagger_UI_image_generation_with_stablediffusion.pdf
  generative-ai/image-generation-with-stablediffusion/notebooks/image-generation_with_StableDiffusion.ipynb
  generative-ai/image-generation-with-stablediffusion/notebooks/register-model.ipynb
  generative-ai/image-generation-with-stablediffusion/notebooks/run-workflow.ipynb
  generative-ai/image-generation-with-stablediffusion/requirements.txt
  generative-ai/image-generation-with-stablediffusion/src/service/base_service.py
  generative-ai/image-generation-with-stablediffusion/src/utils.py
Labels: documentation, enhancement, dependencies, python
